/* Metadata */

@font-face {
    font-family: recoleta;
    src: url(/assets/recoleta/Recoleta-Bold.ttf);
}

@font-face {
    font-family: plus-jakarta-sans-medium;
    src: url(assets//plus-jakarta-sans/PlusJakartaSans-Medium.ttf);
}
@font-face {
    font-family: plus-jakarta-sans-regular;
    src: url(assets//plus-jakarta-sans/PlusJakartaSans-Regular.ttf);
}
:root{
    /* --red : #be185d;
    --lightblue : #0ea5e9;
    --darkblue : #0f172a; */

    --sky-blue: #375e97;
    --sunset-red: #fb6542;
    --sunflower-yellow: #ffbb00;
    --grass-green : #3f681c;
    --black : #000000;
}

*{
    box-sizing: border-box;
    margin: 0px;    
    border: 0px;
    outline: 0px;
    padding: 0px;

    /* border: 10px solid black; */
}

body{
    background-color:var(--sunflower-yellow);
}

.spacer{
    display: inline-block;
    min-width:10%;
    max-width: 10%;
}


.content{
    height: 100%;
    min-width: 80%;
    max-width: 80%;
}

.top-heading{
    font-family: recoleta;
    font-size: 50px;
    text-align: center;
    color: var(--black);
}

.calculator-holder{
    margin-top: 3px;
    /* height: 500px;    */
    border-color: aliceblue;
    background-color: var(--sunset-red);

    border-radius: 15px;
    border: 5px solid var(--black);
    box-shadow: 7px 7px var(--black);
}

.calculator-input-holder{
    height: 10%;
    margin: 1%; 
}
.calculator-input{

    min-width: 100%;
    max-width: 100%;
    min-height: 150%;
    max-height : 150%;
    border-radius: 15px;
    padding: 20px;
    font-size: 300%;
    color: var(--sky-blue);
    font-family: plus-jakarta-sans-medium;
    border: 5px solid var(--black);
    box-shadow: 7px 7px var(--black);

}

.calculator-interface-holder{
    border-radius: 15px;
    border: 5px solid var(--black);
    /* box-shadow: 7px 7px var(--black); */
    margin: 1%;
    margin-top: 50px;
    padding: 1%;
}

.calculator-interface-button{
    display:inline-block;
    margin-left: 1.2%;
    margin-bottom: 15px;
    width: 31%;
    height:70px;

    border-radius: 15px;
    border: 5px solid var(--black);
    box-shadow: 7px 7px var(--black);
    
    font-family: plus-jakarta-sans-medium;
    font-size: 30px;
}

.calculator-interface-button:active{
    background-color: #ffbb00;
    
}
